body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
    
}

div, body {
    box-sizing: border-box;
}


.flexbox {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    align-items: center;
    gap: 30px;
}

.flex-item {
    background-color: #911;
    text-align: center;
    direction: rtl;
    font-size: 40px;
    width: 160px;
    color: #fff;
    flex: 1 1 100px;

}

.flex-item:first-child {
    background-color: #d56;
    
}

.flex-item:last-child {
    background-color: #f77;
}

.item_5 {
    align-self: flex-start;
}