body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 20%;
    height: 100vh;
    padding: 0;
    background-color: rgb(223, 223, 223);
    position: absolute;
}

.container__main {
    background-color: rgb(243, 243, 243);
    height: 100vh;
    margin-left: 10%;
    width: 40%
}

.content_main {
    text-align: center;
    font-size: 10px;
    color: rgb(15, 15, 15);
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 2px solid #fff;
    margin-top: 10px;

}
