body {
    margin: 0;
    font-family: sans-serif;
    background-color: #d73;
    box-sizing: border-box;
    color: #fff;
}

body, div, header, nav, ul, img {
    box-sizing: border-box
}

/*Header Section*/

.header {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url(https://img.freepik.com/foto-gratis/hermoso-gato-domestico-acostado-valla_181624-43207.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
    display: flex;
    
}

.header__overlay {
    min-height: 100vh;
    width: 100%;
    background-color: #0006;
    position: absolute;
    z-index: 1;
}

.header__item-container {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.header__item-container p {
    text-wrap: pretty;

}

.header__item-container img {
    min-width: 200px;
    max-width: 40%;
    margin: 20px;
}

h1 {
    margin: 0;
    font-size: 50px;
}

/*Nav Bar Section*/

.nav {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 25px #0009;
}

.nav__ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.nav__item {
    list-style: none;
}

.nav__ul-container {
    flex-grow: 1;
    text-align: center;
}

.nav__link {
    color: #f80;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0;
    transition: background-color 0.24s, border-radius 0.2s, outline 0.2s, outline-offset 0.2s;
    margin: 2px;
    outline: 0;
    outline-offset: 0;
}

.nav__link:hover {
    background-color: #f803;
    border-radius: 20px;
    outline: 6px solid #f803;
    outline-offset: -7px;
}

.link--login {
    background-color: #f80;
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;

}

.link--login:hover {
    background-color: #d60;
    outline: navajowhite;

}

