.box {
    padding: 20px 5px;
    background: #EFE4D2;
    margin: 10px;
    margin-left: 20px;
    text-align: center;
    color: #954C2E;
    border-top: 2px solid #254D70;
    font-family: sans-serif;
    font-weight: bold;
}