body{
    background-color: black;
}

input{
    margin: 5px;
    padding: 6px 9px;
    border: none;
    border-bottom: 1px solid rgb(98, 0, 255);
    background: transparent;
    color: rgb(202, 173, 255);
}