body {
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background-color: #333;
    
}



form {
    background-color: transparent;
    padding: 10px 0;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 55px #0009;
    border-radius: 5px;
}



input, textarea, select {
    min-width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 2px solid #999;
    box-shadow: 0 0 15px #0001;
    background-color: transparent;
    color: #ddd;
    border-radius: 5px;
}

fieldset{
    margin: 20px;
    border: 1px solid #6666;
    border-radius: 5px;
}

legend{
    padding: 0 5px;
}