/*html {
    font-size: 20px;
} */


body{
    font-size: 40px;
    margin: 0;
}
div {
    background: #ededed;
    padding: 10mm;
    font-family: sans-serif;
    border-left: 5px solid #999;
    font-size: 20px;
    width: 80vw; /* View width y view height son unidades relativas a la vista del navegado y por ende, el usuario. Se ajustan al tamaño de la ventana del navegador */
    height: 80vh;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10vmin;

}

h1{
    margin: 0px;
    font-size: 24px;
}

span{
    color: #999;
    font-size: 16px;
    font-weight: 100px;

}

p{
    color: #555;
    font-size: 1em; /* EM se utiliza para definir tamaños relativos al elemento padre, en este caso el div */
    font-size: 1.2rem; /* REM se utiliza para definir tamaños relativos al elemento raiz, en este caso el HTML */
}