body {
    margin: 0;
    font-family: serif;
    background-color: #bbb;
}

.box {
    width: 240px;
    height: 240px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #0006;
    white-space: nowrap;
    text-wrap: pretty;
    overflow: hidden;


}

h1 {
    text-wrap: pretty;
}